<%= form_tag contacts_path, :method => 'get', :id => "contacts_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="cresults_div"><%= render 'cresults' %></div>
<% end %>

<%= link_to 'New Contact', new_contact_path %>